<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{define "title"}}Home{{end}} - SnippetBox
</head>
<body>
    <header>
        <h1><a href="/">SnippetBox</a></h1>
    </header>

    {{define "main"}}
        <h2>Latest Snippets</h2>
        <p>There is nothing to see here yet!</p>
    {{end}}

    <footer>
        <p>&copy; 2026 SnippetBox. All rights reserved.</p>
    </footer>
</body>
</html>
